*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: #b9cded;
    font-family: 'Pattaya', sans-serif;
    font-size: 10vh;
    color: #3e5882;
}
.navbar{
    background-color: #3e5882;
    width: 100vw;
    height: 10vh;
    font-size: 5vh;
    display: grid;
    grid-template-columns: 5% 20% 20% 20% 20% 15%;
    grid-template-rows: 1fr;
    grid-template-areas:
    'logo brand accueil liste about .';
    justify-items: left;
    align-items: center;
}
.brand{
    font-size: 5vh;
    color:black;
    text-shadow: 2px 2px 5px orangered;
    grid-area: brand;
}
.logo{
    width: 5vw;
    grid-area: logo;
}
.linkHome{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    color: #bfd4f5;
    grid-area: accueil;
}
.linkList{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    color: #bfd4f5;
    grid-area: liste;
}
.linkAbout{
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    color: #bfd4f5;
    grid-area: about;
}
.content{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.lorem{
    width: 60%;
    font-size: 2vh;
}
.footer{
    font-size: 3vh;
    color:black;
}